@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg-main: #fefce8;
  --bg-card: #ffffff;
  --text-main: #713f12;
  --border: #fde68a;
}

.dark {
  --bg-main: #1c1404;
  --bg-card: #2d1f06;
  --text-main: #fef08a;
  --border: #713f12;
}