@import "tailwindcss";

:root {
  --bg-main: #f1f5f9;
  --bg-card: #ffffff;
  --text-main: #0f172a;
  --border: #e2e8f0;
}

.dark {
  --bg-main: #020617;
  --bg-card: #0f172a;
  --text-main: #f8fafc;
  --border: #1e293b;
}